@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #101922; 
}
::-webkit-scrollbar-thumb {
  background: #283039; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #137fec; 
}
